<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ligg.electronservice.mapper.admin.PhoneNumberMapper">

    <select id="phoneList" resultType="com.ligg.electronservice.pojo.admin.Phone">
        select *
        from phone_records
        <where>
            <if test="countryCode != '' ">
                country_code like concat('%', #{countryCode}, '%')
            </if>
            <if test="usageStatus != null">
                and usage_status = #{usageStatus}
            </if>
            <if test="keyword != ''">
                and phone_number  like concat('%', #{keyword}, '%')
                or country_code like concat('%', #{keyword}, '%')
                or usage_status like concat('%', #{keyword}, '%')
            </if>
        </where>
    </select>
    
    <!-- 检查手机号是否已存在 -->
    <select id="checkPhoneExists" resultType="int">
        select count(*)
        from phone_records
        where phone_number = #{phoneNumber}
    </select>

    <!-- 根据手机号ID查询手机详情 -->
    <select id="queryByIdPhoneDetail" resultType="com.ligg.electronservice.dto.PhoneDetailDTO">
        SELECT 
            pr.phone_id,
            pr.phone_number,
            pr.country_code,
            pr.line_status,
            pr.usage_status,
            pr.registration_time,
            pp.project_name,
            pp.time_of_use
        FROM phone_records pr
        LEFT JOIN phone_project pp ON pr.phone_number = pp.phone_number
        WHERE pr.phone_id = #{phoneId}
    </select>

    <!-- 批量插入手机号，使用INSERT IGNORE忽略唯一键冲突 -->
    <insert id="batchInsertPhones" parameterType="java.util.List">
        INSERT IGNORE INTO phone_records
        (phone_number, country_code, line_status, registration_time, usage_status)
        values
        <foreach collection="phones" item="phone" separator=",">
            (
            #{phone.phoneNumber},
            #{phone.countryCode},
            #{phone.lineStatus},
            #{phone.registrationTime},
            #{phone.usageStatus}
            )
        </foreach>
    </insert>

    <!-- 插入手机号和项目关联信息 -->
    <insert id="insertPhoneProject">
        insert into phone_project(phone_number, project_name,time_of_use)
        values (#{phoneNumber}, #{projectName},NOW())
    </insert>
</mapper>