<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ligg.electronservice.mapper.PhoneNumberMapper">

    <select id="phoneList" resultType="com.ligg.electronservice.pojo.Phone">
        select *
        from phone_records
        <where>
            <if test="countryCode != '' ">
                country_code = #{countryCode}
            </if>
            <if test="usageStatus != null">
                and usageStatus = #{usageStatus}
            </if>
        </where>
    </select>
</mapper>